html {
    font-family: 'Lato', sans-serif;
    }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

body {
    background-color: rgb(125, 195, 204);
    position: relative;
    padding-bottom: 8%;
    }

header {
    background-color: rgb(99, 241, 241);
    }

.footer {
    background-color: rgb(99, 241, 241);
    }

header {
    padding: 50px, 60px;
    display: table;
    width: 100%;
    }

nav {
    float: right;
    margin-right: 20%;
    }

nav ul li {
    list-style: none;
    float: left;
    padding: 25px 10px;
    }

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    }

nav ul li a:hover {
    transition: text-shadow 0.2s ease-in;
    text-shadow: 0 0.3mm rgba(0, 0, 0, 2);
    border-bottom: solid gray 5px;
    }

 .fila1 {
    display: grid;
    grid-template-columns: 66.5% 33.5%;
    }

 .fila1 .datos {
    align-content: center;
    justify-content: center;
    margin-left: 20%;
    text-align: justify;
    padding: 10%;
    font-size: 20px;
    font-stretch: ultra-expanded;
    }

img {
    border-radius: 50%;
    width: 250px;
    height: 200px;
    }

.fila2 {
    display: grid;
    grid-template-columns: 66.5% 33.5%;
    gap: 25px;
    }

.fila2 .perfil {
    font-size: 20px;
    text-align: justify;
    padding: 0% 5% 3% 5%;
    }


aside {
    width: 30%;
    box-sizing: content-box;
    border: 1px solid black;
    flex: content;
}

aside {
    margin-left: 70%;
    margin-top: -200px;
    margin-bottom:2%;
}

aside {
    width: 300px;
    height: 300px;
    text-align: center;
    padding: 5px;

}

.footer {
    display: grid;
    grid-template-columns: 50% 50%;
    position: absolute;
    padding: 10px;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    text-align: center;
    }

.footer div a {
    text-decoration: none;
    }
  
h1 {
    text-align: center;
    }

.titulo {
    margin-right: 35%;
    }

.escuelas {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 35px;
    padding: 5%;
    text-align: center;
    }

.tabla1 {
    width: 100%;
    padding-top: 15px;
    border-collapse: collapse;
    }

.tabla1 table thead th {
    background-color: rgb(129, 202, 178);
    padding: 15px;
    text-align: center;
    }

.tabla1 table td {
    border-collapse: collapse;
    padding: 20px;
    text-align: justify;
    }

.tabla1 table tr:hover {
    background-color: rgb(133, 196, 175);
    }

.tabla2 {
    width: 100%;
    padding-top: 45px;
    border-collapse: collapse;
    }

.tabla2 thead tr {
    background-color: rgb(129, 202, 178);
    padding: 15px;
    text-align: center;
    }

.tabla2 thead th {
    padding: 15px;
}

.tabla2 td {
    border-collapse: collapse;
    padding: 20px;
    text-align: justify;
}

.tabla2 td:hover {
    background-color: rgb(133, 196, 175);
}